@use 'scss/colors' as *;

.form {
    background-color: $color-french-gray;
    width: 350px;

    // .form__header
    &__header {
        display: flex;
        justify-content: center;
    }

    // .form__btn
    &__btn {
        display: flex;
        justify-content: center;
    }
}
